@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Open+Sans:ital,wght@0,400;1,700&display=swap');

.CardsComponents{
    height: 100vh;
    text-align: center;
    font-family: 'Be Vietnam Pro', sans-serif;
    background-image: url('./img/bg-simplify-section-desktop.svg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:-135.7vw -21.5vh ;
    background-color: hsl(13, 100%, 96%);
}
.CardsComponents h1{
    margin-top: 5%;
    font-size: 36px;
    color: hsl(228, 39%, 23%)
}
.GalleryCards{
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 5%;
    justify-content: center;
    gap: 2vw 2vh;
}