@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Open+Sans:ital,wght@0,400;1,700&display=swap');

.SecondContent{
    margin-right: 10%;
    margin-top: 5%;
    width: 40vw;
    font-family: 'Be Vietnam Pro', sans-serif;
}
.TitleContent{
    display: flex;
    align-content: center;
    align-items: center;
    
}
.ColorTag{
    color: hsl(228, 39%, 23%);
}
.spanTitle{
    font-size: 16px;
    width: 5vw;
    height: 5vh;
    border-radius: 20px;
    background-color:  hsl(12, 88%, 59%);
    text-align: center;
    padding-top: 1%;
    margin-right: 5%;
    color: hsl(0, 0%, 98%);
}
.ParagraphContent{
    font-size: 16px;
    margin-left: 20.5%; margin-bottom: 5%; margin-top: 2%;
    text-justify:justify;
    color: hsl(227, 12%, 61%);
}